@*
    [*] have previous/original version of file
    [?] table layout ? necessary ?
    [x] ADDed logic in view re: string length on article Display, should be [] ? additional property of Model [] ? method to call
    [] add author - small photo, signature
    [] what if no article length > 250, PRB = items are left aligned 
    [] += append "..." to end of shortened string  
*@

@using Microsoft.AspNetCore.Authentication

@model IEnumerable<dotnetThree.Models.Article>

@{
    ViewData["Title"] = "duh blog";
}

<h1 class="center">@ViewData["Title"]</h1>

@if(@User.Identity.IsAuthenticated)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login"  class="btn btn-primary" >Login</a> <span>To add your article to this collection</span>
}

<div class="row">
    <!-- col 2/3 to contain article content // changed to single column // ? table ? -->
    <div>
        <table class="table-borderless">
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td  style='text-align:center;'>
                        <h3><a asp-controller="Articles" asp-action="Details" asp-route-id=@item.Id >@Html.DisplayFor(modelItem => item.Title) </a></h3>
                    </td>
                </tr>
                <tr>
                    <td  style='text-align:center;'>
                        <strong>@Html.DisplayFor(modelItem => item.CreatedAt)</strong>
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
                <tr>
                    <td>
                        @if(@item.Content.ToString().Length > 250 )
                        {
                            @item.Content.ToString().Substring(0,250);
                        }
                        else{
                            @item.Content
                         } 
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <a asp-action="Details" asp-route-id="@item.Id">Details</a> -->
                        @if(@User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary"> Edit</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> Delete </a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div> 
</div>