@using Microsoft.AspNetCore.Authentication

@model IEnumerable<dotnetThree.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if(@User.Identity.IsAuthenticated)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login"  class="btn btn-primary" >Login</a> <span>To add your article to this collection</span>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if(@User.Identity.IsAuthenticated)
                {
                    <span>|</span><a asp-action="Edit" asp-route-id="@item.Id"> Edit</a> 
                    <span>|</span><a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
